<div class="comp_header">
    <span class="comp_header_title">Flatbonds</span>
    <i class="material-icons icons_add" (click)="createFlatbond()">add</i>
    <div *ngIf="statusSelected" class="comp_header_dropdown">
        <span (click)="statusSelected = false">Status</span>
        <div class="filter_content">
            <div class="filter_item">Created</div>
            <div class="filter_item">Pending tenant action</div>
            <div class="filter_item">Active</div>
            <div class="filter_item">Charge negotiation active</div>
            <div class="filter_item">Closed</div>
        </div>
    </div>
    <div class="comp_header_dropdown">
        <span (click)="filter()">Filter</span>
        <div *ngIf="filterClicked" class="filter_content">
            <div class="filter_item">None</div>
            <div (click)="status()" class="filter_item">Status</div>
            <div class="filter_item">Branch</div>
            <div class="filter_item">Brand</div>
            <div class="filter_item">User</div>
            <div class="filter_item">Test</div>
        </div>
    </div>
</div>
<ul class="content">
    <li class="list_element" routerLink="/" *ngFor="let flatbond of flatbonds">
        <div class="list_item list_item_id">{{flatbond.id}}</div>
        <div class="list_item list_item_address">{{flatbond.address}}</div>
        <div class="list_item list_item_ed"><span class="list_item_ed_r">expires</span>  {{flatbond.expiry_date}}</div>
        <div class="list_item list_item_status"
            [ngClass]="{
                'yellow': flatbond.status === 'Pending tenant action',
                'orange': flatbond.status === 'Charge negotiation active',
                'grey': flatbond.status === 'Closed'
            }">
            {{flatbond.status}}
        </div>
    </li>
</ul>