<div class="comp_header">
    <span class="comp_header_title">Flatbonds</span>
    <i class="material-icons icons_add" (click)="createFlatbond()">add</i>
    <select aria-placeholder="" class="comp_header_dropdown">
        <option value="" disabled selected>Filter</option>
        <option>None</option>
        <option>Status</option>
        <option>Branch</option>
        <option>Brand</option>
        <option>User</option>
        <option>Test</option>
    </select>
</div>


<ul class="content">
    <li class="list_element" routerLink="/" *ngFor="let flatbond of flatbonds">
        <div class="list_item list_item_id">{{flatbond.id}}</div>
        <div class="list_item list_item_address">{{flatbond.address}}</div>
        <div class="list_item list_item_ed"><span class="list_item_ed_r">expires</span>  {{flatbond.expiry_date}}</div>
        <div class="list_item list_item_status"
            [ngClass]="{
                'yellow': flatbond.status === 'Pending tenant action',
                'orange': flatbond.status === 'Charge negotiation active',
                'grey': flatbond.status === 'Closed'
            }">
            {{flatbond.status}}
        </div>
    </li>
</ul>