@import '../../styles/variables.scss';

.orange {color:rgb(255, 193, 79) !important;}
.grey {color:grey !important;}
.yellow {color:rgb(254, 254, 76) !important;}

.list {
    @media(max-width:350px) {
        font-size:14px;
    }
    &_element {
        padding: 15px 20px;
        color:#fff;
        border-bottom: 1px solid $border_list;
        outline:none;
        &:hover {
            background-color:$background_darker_hover;
            cursor:pointer;
        }
    }
    &_item {
        padding-right:7px;
        display:inline-block;
        vertical-align:middle;
        @media(max-width:320px) {
            padding-right:3px;
        }
        &_ed {
            width:25%;
            @media(max-width:767px) {
                width:42%;
                text-align:center;
            }
            &_r {
                color:$red;
                padding-right:5px;
                font-size:12px;
                @media(max-width:375px) {
                    display:none;
                }
            }
        }
        &_address {
            width:25%;
            @media(max-width:767px) {
                width:22%;
            }
        }
        &_id {
            width:5%;
            padding-right:0;
            padding-left:10px;
            @media(max-width:767px) {
                display:none;
            }
        }
        &_status {
            width:25%;
            color:rgb(132, 233, 132);
        }
    }   
}

.filter {
    &_content {
        position: absolute;
        background-color: $background_darker;
        padding:15px;
        z-index:1;
        user-select:none;
        text-align:left;
        border: 1px solid $border_list;
        margin-top:12px;
    }
    &_item {
        margin-bottom:10px;
        width:100%;
    }
}
