$background:#33394E;
$icon:#fff;
$background_darker:rgb(41, 45, 62);
$border:rgb(86, 91, 108);
$border_add:rgb(70, 74, 87);
$border_list:rgba(62, 67, 82, 0.8);
$green:#28b043;
$background_darker_hover:rgba(41, 45, 62, 0.5);
$text_grey:rgb(95, 101, 118);
$title:rgb(86, 91, 108);