@import '../styles/variables.scss';

.background {
    background-color:$background;
    min-height:100%;
    background-size:cover;
}

.header {
    background-color:$background;
    position:fixed;
    width:100%;
    border-bottom:1px solid $border;
}

.padding-top {
    padding-top:64px;
}

.active {
    background-color:$background_darker;
}