@import './styles/comp_header.scss';
@import './styles/icons.scss';
@import './styles/variables.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif !important;
}

ul {
    list-style:none;
    padding:0;
    margin:0;
}

.content {
    padding-top:44px;
}